.form{
    padding-left: 100px;
    width:100%;
    height: 500px;
}
/* .title{
    margin-top: 50px;
} */
.btn{
    margin-left: 50px;
}
.avt{
    width: 80px;
    height: 80px;
    margin-left: 100px;
    margin-top: 0px;
}
.inputname{
    margin-top: 100px;
}
.name{
    padding-top: 100px;
}
.pic{
margin-left: 100px;    
}